@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app"><i class="glyphicon glyphicon-refresh" /></div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
